<!DOCTYPE html>
<html>
   <head>
      <style>
         html{
         height:100%;
         margin:0;
         padding:0;
         }
         body {
         height:100%;
         margin:0;
         padding:0;
         font-family: Arial;
         background: white;
         }
         .container{
         min-height:100%;
         position:relative;
         }
         .header {
         text-align: center;
         background: #4e44d8;
         color: white;
         padding: 5px;
         font-size: 30px;
         font-weight:600;
         }
         .footer_old {
         text-align: center;
         background: #c1c1c7;
         color:white;
         bottom: 0;
         position: absolute;
         width: 100%;
         padding: 8px;
         max-width: -webkit-fill-available;
         }
         .footer_new {
         text-align: center;
         background: #c1c1c7;
         color:white;
         bottom: 0;
         position: relative;
         width: 100%;
         padding: 8px;
         max-width: -webkit-fill-available;
         }
      </style>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
   </head>
   <body>
      <div class="container" style="max-width: 100%;
         margin: 0px;
         padding: 0px;">
      <div class="header">
         Ontrack
      </div>
