<% include ./header %>
<article class="card-body mx-auto" style="max-width: 400px;">
   <h4 class="card-title mt-3 text-center">Log In</h4>
   <form action="/login" method="post">
      <div class="form-group input-group">
         <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
         </div>
         <input name="email" class="form-control" placeholder="Email address" type="email">
      </div>
      <div class="form-group input-group">
         <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
         </div>
         <input name="password" class="form-control"  placeholder="Create password" type="password">
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-primary btn-block" style="background-color:#4e44d8;"> Log In</button>
      </div>
      <p class="text-center">Don't Have an account? <a href="">Sign Up</a> </p>
   </form>
</article>
<% include ./footer %>
